:root{
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--lightgray);
    font-family: 'Outfit', sans-serif;
}
.main{
    display: flex;
    margin: auto;
    margin-top: 6%;
    margin-bottom: 7%;
    flex-direction: column;
    background: var(--white);
    height: 440px;
    width: 280px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(123, 135, 157, 0.2);
}   

.info{
    text-align: center;
    margin-top: 20px;
    width: 230px;
}
h2{
    font-size: 20px; 
    font-weight: 700;
    color: var(--darkblue);
}
p{
    padding-top: 12px;
    font-size: 14px; 
    font-weight: 400;
    color: var(--grayishblue);
}

.qr-code{
    margin-top: 15px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
}